<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net45" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
</packages>